<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="author" content="JordanCZ">
  <meta name="keywords" content="东北出马实录,出马仙,出马仙吧,hstn2469,小说,东北出马仙,胡四太奶,山东出马仙吧,出马,出马仙的那些年，出马弟子,堂口">

  <meta name="description" content="出马仙哪里找尽在东北出马实录,东北出马仙实录提供出马仙文化,小说,法事,修行路,佛教经典,道教经典,最新运势免费看事">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <meta baidu-gxt-verify-token="96685c16a8c5809394373e86c452c4db">
  <meta name="baidu-site-verification" content="3sxHPB7GKk" />
  <meta name="google-site-verification" content="8FxPBBKlnu4RDMvM3ljuky3L-Tzoj5F5tvPlSNFpgrs" />
  <meta name="msvalidate.01" content="175E010F24C5D367A486806FA27CFDCF" />
  
  <link rel="icon" type="image/jpg" href="/assets/images/favicon.jpg" />
  <link href="/assets/images/favicon.jpg" rel="shortcut icon" type="image/jpg">
  
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  
  {% seo %}
  
</head>
